.contact-us {
  padding: 0 20%;

  &__summary {
    margin: 5% 0;
    text-align: center;
  }

  @media (max-width: 1000px) {
    padding: 0 8%;
  }
}

.form {
  margin-bottom: 2rem;

  &__header {
    display: flex;
    justify-content: space-between;

    input {
      flex: 0.49;
      outline: none;
      margin-bottom: 2%;
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
      border: 1px solid #ccc;
      transition: border 0.5s;

      &:first-child {
        margin-left: 1rem;
      }

      &:focus {
        border: 1px solid #aaa;
      }
    }

    @media (max-width: 1000px) {
      margin-top: 10%;

      input:first-child {
        margin-left: 0;
      }

      input {
        max-width: 48%;
        padding: 0.5rem 1rem;
      }
    }
  }

  &__textarea {
    width: 100%;
    resize: none;
    outline: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 1px solid #ccc;

    &:focus {
      border: 1px solid #aaa;
    }
  }

  &__submit-box {
    margin-top: 2rem;
    text-align: center;
  }

  &__submit-btn {
    border: none;
    outline: none;
    cursor: pointer;
    color: #fefefe;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    background: royalblue;
    transition: padding 0.3s;

    &:hover {
      padding: 1rem 3rem;
    }
  }
}

.icons {
  display: flex;
  margin: 8rem 0;
  flex-wrap: wrap;
  justify-content: space-between;
}

.icon {
  flex: 0.16;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;

  &__image {
    margin-bottom: 1rem;
  }

  &__title {
    margin-bottom: 0.5rem;
  }

  &__summary {
    direction: ltr;
  }

  @media (max-width: 1000px) {
    width: 50%;
    flex: unset;
    height: 12rem;
  }
}
