.branches-page {
  padding: 4%;
  display: flex;
  justify-content: center;
}

table {
  width: 60%;
  border-collapse: collapse;
}

td, th {
  padding: 1rem;
  text-align: center;
  border: 1px solid #dddddd;
}

th {
  background-color: #dddddd;
}

.addres {
  width: 50%;
}