// Reset
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  direction: rtl;
  box-sizing: border-box;
  font-family: 'Vazir', sans-serif;
}

html {
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}
